<!doctype html>
<html>
<head>
  <title>A MadLib Game</title>
</head>
<body>
    <form action="/madlib">
        Type the name of a person: <input type="text" name="person"> <br>
        Choose a color:
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
        </select> <br>
        Type a noun: <input type="text" name="noun"><br>
        Type an adjective: <input type="text" name="adjective"><br>
        <input type="submit">
    </form>
</body>
</html>
