<!doctype html>
<html>
<head>
  <title>A MadLib Game</title>

  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <h1>Fill out this form: </h1>
    <div>
        <form action="/madlib">
            Type the name of a person: <input type="text" name="person"> <br>
            Choose a color:
            <select name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
            </select> <br>
            Type a noun: <input type="text" name="noun"><br>
            Type an adjective: <input type="text" name="adjective"><br>
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>
